@import url(//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css);

html,body { 
	height:100%; 
}

.footer {
	height: 55px;
	background-color:#e8e8e8;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px;
	margin-bottom: 0px;
}


font,p,body {
	font:10pt 'Open Sans';
	color:#000;
	text-transform:none;
	background-color:#e8e8e8;
	background-image:url('http://i1172.photobucket.com/albums/r570/Gamex101/Stone.png');
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;
	line-height: 14px;
}

.wrapper {
	width:500px;
	background-color:#e8e8e8;
	margin-left:auto;
	margin-right:auto;
	margin-top: 0px;
	margin-bottom: 0px;
	padding:10px;
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -4em;
}


i {
	font:8pt;
	color:#000;
}

b {
	font-weight:bold;
}

u {
	color:#202e7d;
	text-decoration:underline;
	line-height:15pt;
	font:10pt 'Open Sans';
}

a {
	color:#202e7d;
	text-decoration:underline;
	line-height:15pt;
}

h1 {
	font:12pt 'Open Sans';
	font-weight:bold;
	letter-spacing:3px;
	text-transform:uppercase;
	color: #FFF;
	text-align:center;
	margin-top:1px;
	margin-left:auto;
	margin-right:auto;
	background: #61cecf;
}

h2 {
	font:55pt 'Lobster';
	letter-spacing:0;
	color: #373737;
	background-color: #e8e8e8;
	text-transform:lowercase;
	text-decoration:none;
	text-align:center;
	height:15px;
	margin-top: 0px;
}

h3 {
	font:7.5pt 'Open Sans';
	color:#0e0809;
	text-transform:lowercase;
	font-style:italic;
	text-align:center;
	margin-top: 0px;
	margin-bottom: 0px;
}

table.center {
	margin-left:auto;
	margin-right:auto;
}

table.left {
	margin-left:20px;
	margin-right:20px;
}

table.left2 {
	margin-left:55px;
	margin-right:55px;
}

table.announce {
	margin-left:40px;
	margin-right:40px;
	display:block;
	height:150px;
	overflow-y:scroll;
}

table.chat {
	margin-left:20px;
	margin-right:20px;
	display:block;
	height:250px;
	overflow-y:scroll;
}

hr {
	border-top: 1px dashed #000;
	width:95%;
}
