body {
	width:100%;
	color: #000;
	background:#cdd2db;
	background-image: url("http://i.imgur.com/qupTi.png");
}

h1 {
	font-family: 'Lobster', cursive;
	font-size: 25pt;
	line-height:30px;
	color: #FFF;
	background: transparent;
	text-transform: lowercase;
	text-decoration: none;
	text-align: right;
	margin-top: -50pt;
	padding: 10pt;
}

a:link, a:active, a:visited, a b {
	font: 9pt tahoma;
	line-height: 12pt;
	color: #FFF;
	text-decoration: underline;
	text-align: right;
}
a:hover, a:hover b {
	font: 9pt tahoma;
	line-height: 12pt;
	text-decoration: none;
	text-align: right;
}

#gen {
	background-color: #535353;
	text-decoration: none;
	text-align: left;
	margin: 0 auto;
	width: 500px;
	height: auto;
	overflow: auto;
	
}

#content {
    color: #FFF;
	font: 9pt tahoma;
	text-decoration: none;
	text-align: left;
	padding:10px;
	letter-spacing: 1px;
	
}

table {
	border: 1px #000;
}

blockquote {
    display: block;
    margin-top: 1em;
    margin-bottom: 1em;
    margin-left: 40px;
    margin-right: 40px;
}


