table {
	background-color: transparent;
}
table a img, #header, #footer, #ban, .sf {
	display: none;
}
font, td, p, body {
	font: 20pt tahoma;
	color: #000;
	line-height: 21pt;
	letter-spacing: 1px;
	text-transform: lowercase;
	background-image: url("https://dl.dropbox.com/u/80761783/site/speck_bg.png");
}
#me {
	margin-top: -220px;
	margin-left: 95px;
	overflow: hidden;
	width: 100px;
	height: 400px;
	text-align: right;
}
#nav {
	top: 243px;
	margin-left: 98px;
	text-align: right;
}
#gen {
	margin-top: 20px;
	margin-left: auto;
    margin-right: auto;
	width: 600px;
	border: 0px solid #fff;
}
#banner {
	margin-top: -15px;
	margin-left: 200px;
}
b {
	font-weight: bold;
	color: #000;
	text-decoration: none;
}
u {
	color: #000;
	text-decoration: underline;
}
/* secondary */
h1 {
	font: 20pt consolas;
	line-height: 21px;
	font-weight: bold;
	color: #FFF;
	background: #2e2e2e;
	text-decoration: none;
	text-align: center;
}
/* primary */
h2 {
	font: 8pt consolas;
	line-height: 10px;
	font-weight: bold;
	color: #FFF;
	background: #c46568;
	text-decoration: none;
	text-align: center;
}
/* top (rose) */
h3 {
	font: 8pt consolas;
	line-height: 20px;
	font-weight: bold;
	color: #FFF;
	background-image: url(https://dl.dropbox.com/u/80761783/site/roses.png);
	text-decoration: none;
	text-align: center;
}
a:link, a:active, a:visited, a b {
	font: 15pt consolas;
	line-height: 16px;
	font-weight: bold;
	color: #FFF;
	background: #000;
	display: inline;
	text-decoration: none;
	text-align: right;
}
a:hover, a:hover b {
	font: 15pt consolas;
	line-height: 16px;
	font-weight: bold;
	color: #FFF;
    background-image: url(https://dl.dropbox.com/u/80761783/site/roses.png);
	text-decoration: none;
	text-align: right;
}
.image:hover .hoverimage {
	display: block;
}
